<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .content {
            height: 75%;
        }

        .messageDiv {
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .toDoDiv {}

        .custom-btn {
            font-size: 10px;
        }

        .panel-footer {
            height: 10%;
            color: gray;
        }

        .selector-for-some-widget {
            box-sizing: content-box;
        }
    </style>

    <title>AI AI AI!</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="page-header">
                <h1 style="color:red">AI Assistant<small style="color:black">with Django</small></h1>
            </div>
        </div>
        <div class="content">
            <h2>오더번호</h2>
            <form action="/searchRequest/" method="POST">{% csrf_token %}
            <div class="input-group orderinfo-1">
                <input type="text" class="orderNumber" placeholder="15 digit order number" aria-label="orderNumber"
                    aria-describedby="basic-addon1">
                <span class="input-group button-1">
                    <button type="submit" class="btn btn-info">Search</button>
                </span>
            </div>
            </form>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous"></script>
        </div>
    </div>
</body>

</html>